.main__text {
  text-align: center;
  background-color: aliceblue;
  border-radius: 8px;
  border: 2px solid #8a5608;
}

.main__btn {
  display: block;
  margin: auto;
  border-radius: 8px;
  border: 2px solid #8a5608;
  cursor: pointer;
}

.main__btn-hidden {
  visibility: hidden;
}
